{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepsw" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="passwordOld" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="passwordNew" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="passwordNewCon" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-dark" type="submit">change</button>
    </form>
{% endblock %}
