{% extends "layout.html" %}

{% block title %}
    DQN v2
{% endblock %}

{% block main %}
    <h3 style="text-align: center ">
        DQN (Stratified + SocioEcon + Vaccine) Results
    </h3>
    <h5>
        #Episodi generati dal software con indicazione delle azioni scelte
    </h5>
    <table class="table">
        {% for file in names %}
            <tr>
                <td>
                    <img style='height: 100%; width: 100%; object-fit: contain' src='{{file}}'></img>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}