{% extends "layout2.html" %}

{% block title %}
    Conclusioni
{% endblock %}

{% block main %}
<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 style="text-align: center; color: white;">
            Sviluppi futuri
        </h1>
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h5 style="text-align: right;">
            <form action="/thanks">
                <button><c>Thanks</c></button>
            </form>
        </h5>
{% endblock %}
