{% extends "layout.html" %}

{% block title %}
    Storia e Mission
{% endblock %}

{% block main %}
    <h3 style="text-align: center ">
        Storia e Mission
    </h3>
    <br>
    <br>
    <br>
    <h6>
        <table style="table-layout: auto; width: auto; font-size: larger;">
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    Data
                </td>
                <td style="vertical-align: text-top;">
                    Descrizione
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    13/10 - 20/10
                </td>
                <td style="width: fit-content; ">
                    Selezione Progetto e determinazione ruoli
                    <br>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    22/10 - 30/10
                </td>
                <td>
                    Corsi online di Reinforcement Learning e Deep Learning.
                    <br>
                    Ricerca dati Protezione Civile e database medici open source.
                    <br>
                    Studio modelli epidemiologici: SIR, SIDARTHE ed implementazioni per data description.
                    <br>
                    Ricerca sui migliori parametri per la descrizione del virus.
                    <br>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    02/11 - 30/11
                </td>
                <td>
                    Sviluppo codice didattico per l’applicazione delle teorie studiate di RL e DL.
                    <br>
                    Ottimizzazione dei parametri con dati reali da Protezione Civile.
                    <br>
                    Ricerca del modello più adatto alle caratteristiche del lavoro: modello SIIR.
                    <br>
                    Sviluppo modello su MATLAB e Python.
                    <br>
                    Comprensione, estensione ed adattamento a data prediction.
                    <br>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    30/11 - 20/12
                </td>
                <td>
                    Sviluppo codice python di algoritmo Q-Table RL. 
                    <br>
                    Espansione modello per comprendere lo screening dei casi (parametro b3)
                    <br>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    15/12
                </td>
                <td>
                    Bozza Business Model Canvas con brainstorming di gruppo
                    <br>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    26/12 - 11/01
                </td>
                <td>
                    Sviluppo codice DL su Google Colab per verifica apprendimento.
                    <br>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    11/01 - 01/02
                </td>
                <td>
                    Apprendimento della rete, reward function modificata. 
                    <br>
                    Espansione del modello con stratificazione della popolazione. 
                    <br>
                    Espansione del modello per gestione vaccini.
                    <br>
                    Affinamento Business Model Canvas
                    <br>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: text-top;">
                    01/02 - 23/02 
                </td>
                <td>
                    Sviluppo web app per rendere il nostro software fruibile.  
                    <br>
                    Ulteriore lavoro di affinamento performance sulla rete. 
                    <br>
                    Implementazione del problema di ottimizzazione controllata per la gestione dei vaccini. 
                    <br>
                </td>
            </tr>
    </table>
    </h6>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5>
        Principali risultati 
        <br>
        <br>
        La rete apprende ed è in grado di restituire la policy ottima per il contenimento del virus. In funzione del peso assegnato ai diversi aspetti considerati (numero infetti, tempo trascorso, impatto socioeconomico). 
    </h5>

{% endblock %}