{% extends "layout.html" %}

{% block title %}
    SIIR - Q
{% endblock %}

{% block main %}
    <h3 style="text-align: center ">
        SIIR
    </h3>
    <h5 style="text-align: left;">
        Modello base a compartimenti. Costituito da 4 compartimenti: Susceptibles - Infectous - Infectous - Recovered
    </h5>
    <br>
    <img src="../static/images/siir_scheme.png"; style="max-width: 100%;">
    <br>
    <h5 style="text-align: left;">
        <br>
        <br>
        <br>
        Con questo modello sono proposte le seguenti funzioni:
        <br>
        <br>
        - TRAIN: si ha la possibilità di allenare la Q-Table impostando manualmente alcuni parametri, di cui si parlerà in seguito
        <br>
        <br>
        - RUN: si ha la possibilità di testare alcuni episodi usando una Q-Table già allenata. Anche in questo caso si è offerta la possibilitàdi tuning
        <br>
        <br>
        - SHOW: rappresentazione dei grafici ottenuti da una delle due opzioni precedenti
        <br>
        <br>
        <br>
        Dopo aver fatto partire la funzione di elaborazione desiderata (TRAIN/RUN) non cambiare tab all'intenro dell'app
        <br>
        <br>
        <br>
    </h5>

    <form action="/siirqt" method="post">
        <label>
            <h5>
                #Episodi:
                <br> [10k]&nbsp&nbsp&nbsp
                <input type="range" name="siirqtamountRange1" min="10" max="30" value="20" oninput="this.nextElementSibling.value = this.value"> [30k] &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="number" name="siirqtamountInput1" min="10" max="30" value="20" oninput="this.previousElementSibling.value=this.value" style="width: 75px;" />
            </h5>
        </label>
        <br>
        <label>
            <h5>
                beta1:
                <br> [10e-2]
                <input type="range" name="siirqtamountRange2" min="10" max="30" value="16" oninput="this.nextElementSibling.value = this.value"> [30e-2] &nbsp&nbsp
                <input type="number" name="siirqtamountInput2" min="10" max="30" value="16" oninput="this.previousElementSibling.value=this.value" style="width: 75px" />
            </h5>
        </label>
        <br>
        <label>
            <h5>
                beta2:
                <br> [10e-2]
                <input type="range" name="siirqtamountRange3" min="1" max="5" value="4" oninput="this.nextElementSibling.value = this.value"> [50e-2] &nbsp&nbsp
                <input type="number" name="siirqtamountInput3" min="1" max="5" value="4" oninput="this.previousElementSibling.value=this.value" style="width: 75px" />
            </h5>
        </label>
        <br>
        <h5>
            <input type="checkbox" id="checksiirqt" name="checksiirqt" value="fromZero">
            <label for="checksiirqt">New Table</label>
            <br>
            <button class="btn btn-dark" type="submit">TRAIN SIIR-Q</button>
        </h5>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form action="/siirqr" method="post">
        <label>
            <h5>
                #Episodi:
                <br> [5]&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="range" name="siirqramountRange1" min="5" max="15" value="10" oninput="this.nextElementSibling.value = this.value"> [15]  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="number" name="siirqramountInput1" min="5" max="15" value="10" oninput="this.previousElementSibling.value=this.value" style="width: 75px" />
            </h5>
        </label>
        <br>
        <label>
            <h5>
                beta1:
                <br> [10e-2]
                <input type="range" name="siirqramountRange2" min="10" max="30" value="16" oninput="this.nextElementSibling.value = this.value"> [30e-2] &nbsp&nbsp
                <input type="number" name="siirqramountInput2" min="10" max="30" value="16" oninput="this.previousElementSibling.value=this.value" style="width: 75px" />
            </h5>
        </label>
        <br>
        <label>
            <h5>
                beta2:
                <br> [10e-2]
                <input type="range" name="siirqramountRange3" min="1" max="5" value="4" oninput="this.nextElementSibling.value = this.value"> [50e-2] &nbsp&nbsp
                <input type="number" name="siirqramountInput3" min="1" max="5" value="4" oninput="this.previousElementSibling.value=this.value" style="width: 75px" />
            </h5>
        </label>
        <br>
        <h5>
            <button class="btn btn-dark" type="submit">RUN SIIR-Q</button>
        </h5>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form action="/siirqs" method="post">
        <h5>
            <input type="radio" name="siirqtable" id="option1" value="new">TRAIN</input>
            <br>
            <br>
            <input type="radio" name="siirqtable" id="option2" value="def" checked>RUN</input>
            <br>
            <br>
            <button class="btn btn-dark" type="submit">SHOW SIIR-Q</button>
        </h5>
    </form>
{% endblock %}