{% extends "layout2.html" %}

{% block title %}
    Ringraziamenti
{% endblock %}

{% block main %}
        <h4 style="text-align: center; color: white;"">
            Un ringraziamento speciale a:
            <br>
            <br>
            Tutor Pierpaolo Palumbo
            <br>
            <br>
            Tutor Ilaria D'Ascanio
            <br>
            <br>
            Tutor Addisu Zeleke
            <br>
            <br>
            Professoressa Serena Morigi
            <br>
            <br>
            Professoressa Damiana Lazzaro
        </h4>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center; color: white;">
            Grazie a tutti per l'attenzione!
        </h1>
{% endblock %}
