{% extends "layout.html" %}

{% block title %}
    Chi siamo
{% endblock %}

{% block main %}
    <h3 style="text-align: center ">
        Chi Siamo
    </h3>
    <br>
    <br>
    <br>
    <h5>
        Membri del team:
        <br>
        <br>
        <br>
        <table>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Riccardo Forni
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CHAIRMAN</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Lorenzo Tartarini
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CEO</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chief Executive Officer
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Federica Sannelli
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CFO</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chief Finance Officer
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Gianmarco Carnevali
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CIO</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chief Information Officer
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Gabriele Boretti
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CKO</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chief Knowledge Officer
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Matteo Diani
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>CTO</b>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chief Technical Officer
                </td>
            </tr>
        </table>
    </h5>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <h5 style="text-align: right;">
        <form action="/final">
            <button><c>Final</c></button>
        </form>
    </h5>
{% endblock %}
